{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template-new' %}
{% comment %}{% section 'custom-fb-comment-screenshoot' %}{% endcomment %}
{% include 'product-desk-section' %}
{% comment %}<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>{% endcomment %}
{% comment %}{% section 'loox-carousel-reviews'%}{% endcomment %}
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% render 'judgeme_widgets',
  widget_type: 'judgeme_review_widget',
  concierge_install: true,
  auto_install: true,
  product: product
%}

